* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.icono {
    width: 20px; 
    height: 20px;
}


.titulo{
  font-size: large;
  font-weight: bold;
  color: black;
  margin: 0px 0px 2px 10px;
}

.contador{
  font-size: small;
  margin: 2px;
}

.likes{
  font-size: medium;
  font-weight: bold;
  color: black;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.pieFoto{
  font-size: small;
  margin-top: 0px;
  margin-left: 10px;
}

